.circle-bar-list {
  padding: 0;
  display: flex;
  gap: 16px;
}

.circle-bar-list li {
  list-style: none;
  position: relative;
}

.circle-bar-list .p-progressspinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.circle-bar-list {
  .circle-bar-card--has-overlay:before {
    content: '';
    background: rgba(0, 0, 0, .9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
