.p-drawer .p-menu .p-button {
  width: 100%;
  justify-content: flex-start;
  text-decoration: none;

  &.router-link-exact-active {
    background: var(--p-emerald-900);
  }
}

.content {
  transition: margin-left 0.2s ease-in;
}

.content-shifted {
  margin-left: 350px;
}
