.register-form-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    max-width: 25rem;
    width: 100%;
  }

  .p-card-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-8);
  }

  .p-card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: var(--gap-16);
  }
}
