.register-form-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form-wrapper form {
  max-width: 25rem;
  width: 100%;
}

.register-form-wrapper .p-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.register-form-wrapper .p-card-footer {
  margin-top: 16px;
}

.register-form-wrapper .p-password input {
  width: 100%;
}
